[submodule "koocook-dj"]
	path = koocook-dj
	url = https://github.com/KooCook/koocook-dj.git
	branch = dev
[submodule "koocook-proxy"]
	path = koocook-proxy
	url = https://github.com/KooCook/koocook-proxy.git
	branch = dev
